@model Blog.Entity.ViewModel.MakaleDetayViewModel
@{
    ViewBag.Title = "Makale Detay";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<div class="container-fluid">
    <div class="row">
        <!-- main start -->
        <!-- ================ -->
        <div class="main col-md-offset-1 col-md-9">
            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title wordwrap">@Model.Makale.Title</h1>
            <!-- page-title end -->
            <!-- blogpost start -->
            <article class="clearfix blogpost full">
                <div class="blogpost-body">
                    <div class="side">
                        <div class="post-info">
                            <span class="day">@Model.Makale.CreatedDate.Day</span>
                            <span class="month">@Model.Makale.CreatedDate.ToString("MMMM") @Model.Makale.CreatedDate.Year</span>
                        </div>
                    </div>
                    <div class="blogpost-content">
                        <header>
                            <div class="submitted"><i class="fa fa-user pr-5"></i> by <a href="#">@(Model.Makale.User.Name + " " + Model.Makale.User.Surname)</a></div>
                        </header>
                        <div class="owl-carousel content-slider-with-controls">
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="@Model.Makale.Title">
                                @*<a href="images/blog-1.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="@Model.Makale.Title">
                                @*<a href="images/blog-2.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                            <div class="overlay-container">
                                <img src="/images/@Model.Makale.Picture" alt="@Model.Makale.Title">
                                @*<a href="images/blog-3.jpg" class="popup-img overlay" title="image title"><i class="fa fa-search-plus"></i></a>*@
                            </div>
                        </div>
                        <p class="wordwrap">
                            @Html.Raw(Model.Makale.Content)
                        </p>
                    </div>
                </div>
                <footer class="clearfix">
                    <ul class="links pull-left">
                        <li><i class="fa fa-comment-o pr-5"></i> <a href="#">@Model.Makale.Comments.Count yorum</a> |</li>
                        <li><i class="fa fa-tags pr-5"></i> <a href="#">etiket @Model.Makale.Tags.Count</a></li>
                    </ul>
                </footer>
            </article>
            <!-- blogpost end -->
            <!-- comments start -->
            <div class="comments">
                @if (Model.Makale.Comments.Count == 0)
                {
                    <h2 class="title">Henüz yorum eklenmemiştir.</h2>
                }
                else
                {
                    <h2 class="title">@Model.Makale.Comments.Count yorum eklenmiştir.</h2>
                    foreach (var yorum in Model.Yorumlar)
                    {
                        <!-- comment start -->
                        <div class="comment clearfix">
                            <div class="comment-avatar">
                                <img src="images/avatar.jpg" alt="avatar">
                            </div>
                            <div class="comment-content">
                                <h3>Yorum</h3>
                                <div class="comment-meta">By <a class="wordwrap" href="#">@(yorum.User.Name + " " + yorum.User.Surname)</a> | Today, 12:31</div>
                                <div class="comment-body clearfix">
                                    <p class="wordwrap">@yorum.Content</p>
                                    <button type="button" class="btn btn-gray more pull-right ComAnswIdSelect" data-toggle="modal" data-target="#CommentAnswerModal" data-comid="@yorum.Id">
                                        Cevapla
                                    </button>
                                    @if (yorum.CommentAnswers.Count != 0)
                                    {
                                        <button type="button" class="btn btn-gray more pull-left btnAnswers" data-comid="@yorum.Id">
                                            Yanıtları Gör<span class="badge badge-light">@yorum.CommentAnswers.Count.ToString()</span>
                                        </button>}
                                </div>
                            </div>
                        </div>
                    }
                    <!-- comment end -->
                }
            </div>
            <!-- comments form start -->
            @using (Html.BeginForm("MakaleDetay", "Makale", FormMethod.Post))
            {
                <div class="comments-form">
                    <h2 class="title">Yorum Ekle</h2>
                    <div class="form-horizontal">
                        @Html.HiddenFor(model => model.Makale.Id)
                        <div class="form-group">
                            @Html.Label("Mesaj", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextAreaFor(model => model.Yorum.Content, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Kaydet" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            }
            <!-- comments form end -->
            <!-- Modal -->
            <div class="modal fade" id="CommentAnswerModal" tabindex="-1" role="dialog" aria-labelledby="CommentAnswerModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="row">
                                <h5 class="modal-title col-lg-9" id="CommentAnswerModalLabel">Cevabınızı Yazınız</h5>
                                <button type="button" class="close col-lg-1 btnYorumCevapIptal" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <div class="modal-body">
                            <textarea class="form-control" type="text" id="txtComment" maxlength="200" rows="4"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary btnYorumCevapIptal" data-dismiss="modal">İptal</button>
                            <a href="#" class="btn btn-primary btnYorumCevap">Gönder</a>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Modal -->           
        </div>
        <!-- main end -->
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location.pathname;
        console.log(url);
        var ComID = 0;
        $(".btnAnswers").click(function () {
            ComID = $(this).data("comid");
            window.location ='/Makale/YorumCevaplari/' + ComID;
        });
        $(".ComAnswIdSelect").click(function () {
            ComID = $(this).data("comid");
        });
        $(".btnYorumCevap").click(function () {
            var Comm = $("#txtComment").val();
            if (ComID !== 0) {
                if (Comm !== "") {
                    $.ajax({
                        url: '/Makale/CommentAnswer/' + ComID,
                        data: { comment: Comm },
                        type: 'POST',
                        dataType: 'json',
                        success: function (data) {
                            if (data === "True") {
                                window.location = url;
                            }
                            else {
                                alert("Cevap eklenemedi!")
                            }
                        }
                    });
                } else {
                    alert("Cevap yazmalısınız!");
                }
            }
        });
        $(".btnYorumCevapIptal").click(function () {
            ComID = 0;
            $("#txtComment").val("");
        });
    });
</script>